@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.emoji-rain {
  position: fixed;
  top: -50px;
  user-select: none;
  pointer-events: none;
  z-index: 99;
  animation: fall linear forwards;
}